# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [ ]:
url = "https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/drinks.csv"
drinks = pd.read_csv(url)

### Step 3. Assign it to a variable called drinks.

In [ ]:
print(drinks.head())  # Display first few rows to verify data

       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent
0                           0.0      Asia
1                           4.9    Europe
2                           0.7    Africa
3                          12.4    Europe
4                           5.9    Africa

### Step 4. Which continent drinks more beer on average?

In [ ]:
beer_avg = drinks.groupby("continent")["beer_servings"].mean().idxmax()
print(f"Continent with highest average beer consumption: {beer_avg}")

Continent with highest average beer consumption: Europe

### Step 5. For each continent print the statistics for wine consumption.

In [ ]:
wine_stats = drinks.groupby("continent")["wine_servings"].describe()
print(wine_stats)

               count        mean        std  min   25%    50%     75%    max
continent
Africa          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
Asia            44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
Europe          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
North America   23.0   24.521739  28.266378  1.0   5.0   11.0   34.00  100.0
Oceania         16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
South America   12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcoohol consumption per continent for every column

In [ ]:
# Exclude non-numeric columns before applying mean()
mean_alcohol = drinks.groupby("continent").mean(numeric_only=True)
print(mean_alcohol)

               beer_servings  spirit_servings  wine_servings  \
continent
Africa             61.471698        16.339623      16.264151
Asia               37.045455        60.840909       9.068182
Europe            193.777778       132.555556     142.222222
North America     145.434783       165.739130      24.521739
Oceania            89.687500        58.437500      35.625000
South America     175.083333       114.750000      62.416667

               total_litres_of_pure_alcohol
continent
Africa                             3.007547
Asia                               2.170455
Europe                             8.617778
North America                      5.995652
Oceania                            3.381250
South America                      6.308333

### Step 7. Print the median alcoohol consumption per continent for every column

In [ ]:
# Compute the median alcohol consumption per continent, excluding non-numeric columns
median_alcohol = drinks.groupby("continent").median(numeric_only=True)
print(median_alcohol)

               beer_servings  spirit_servings  wine_servings  \
continent
Africa                  32.0              3.0            2.0
Asia                    17.5             16.0            1.0
Europe                 219.0            122.0          128.0
North America          143.0            137.0           11.0
Oceania                 52.5             37.0            8.5
South America          162.5            108.5           12.0

               total_litres_of_pure_alcohol
continent
Africa                                 2.30
Asia                                   1.20
Europe                                10.00
North America                          6.30
Oceania                                1.75
South America                          6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [ ]:
spirit_stats = drinks.groupby("continent")["spirit_servings"].agg(["mean", "min", "max"])
print(spirit_stats)

                     mean  min  max
continent
Africa          16.339623    0  152
Asia            60.840909    0  326
Europe         132.555556    0  373
North America  165.739130   68  438
Oceania         58.437500    0  254
South America  114.750000   25  302